.restaurant-card {
	display: flex;
	flex-direction: column;
	margin: 50% auto;
}

.restaurant-card-footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 20px;
	border-top: 1px solid rgba(0,0,0,0.2);
	a {
		margin: 15px 15px;
		padding: 10px 15px;
		&:last-child {
			flex: 0 0 80%;
		}
		&:not(:last-child) {
			flex: 0 0 20%;
		}
	}
}